[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphviz = "*"
diagrams = "*"
pandas = "*"
numpy = "*"
pyarrow = "*"
faker = "*"
python-dateutil = "*"
awscli = "*"
boto3 = "*"
kafka-python = "*"

[dev-packages]
graphviz = "*"
diagrams = "*"
pandas = "*"
numpy = "*"
pyarrow = "*"
faker = "*"
python-dateutil = "*"
awscli = "*"
boto3 = "*"
kafka-python = "*"

[requires]
python_version = "3.11"
